{% extends "ALKSiteBundle::layout.html.twig" %}

{% block title %}Administration{% endblock %}


{% block little_body %}


<div class="row-fluid">
    <div class="span8">
    <div class="inner-well sidebar-nav">
             <ul class="nav nav-list">
                <li class="nav-header">Historique</li>
            </ul>
    </div>
    </div>
    <div class="span4">
        <div class="inner-well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Articles</li>
                <li><a href="{{ path('ALKSiteBundle_ajouterarticle') }}">Ecrire un article</a></li>
                <li><a href="{{ path('ALKSiteBundle_voirlesArticles') }}">Voir tous les articles</a></li>
                <li class="nav-header">Autre</li>
                <li>Modifier le menu du haut</li>
                <li>Modifier le menu de droite</li>
            </ul>
        </div>
    </div>
</div>

{% block admin_block %}
{% endblock %}

{% endblock %}